/* universal selector that applies to box sizing on the webpage */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* styling rules that apply to everything inside of the <body> tags unless otherwise specified */
body {
    background-color: #d9dcd6;
}

/* styling rules that apply to everything inside the <header> tag unless otherwise specified */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* styling rules that apply to h1 tag inside header */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* styling rules that apply to h1 seo tag inside header */
.header h1 .seo {
    display: inline-block;
    color: #d9dcd6;
}

/* styling rules that apply to nav-menu*/
.nav-menu {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* styling rules that apply to the nav-menu */
.header nav ul {
    list-style-type: none;
    float: right;
}

/* styling rules that apply to the ul and li tags inside the <nav> class */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* styling rules that apply to all <a>/<a href=" " tags */
a {
    color: #ffffff;
    text-decoration: none;
}

/* styling rules that apply to all paragraphs on the page unless otherwise specified */
p {
    font-size: 16px;
}

/* styling rules that apply to the "hero" "headline" or "hook" of the webpage */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg") /*photo of team working together in an office setting*/;
    background-size: cover;
    background-position: center;
}

/* applies to the search engine optimization and social media marketing sections */
.float-left {
    float: left;
    margin-right: 25px;
}

/* applies to the online reputation management section */
.float-right {
    float: right;
    margin-left: 25px;
}

/* applies to everything inside the <section class="content"> tag unless otherwise specified */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* styling rules for search engine optimization section */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* size of photo of notebook containing the structure of an optimized webpage for search engine optimization section */
.search-engine-optimization img {
    max-height: 200px;
}

/* size of title for the search engine optimization section */
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* styling rules for online reputation management */
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* size of photo of man on a laptop looking at pie graphs and charts describing his website's overall online reputation for online reputation management section */
.online-reputation-management img {
    max-height: 200px;
}

/* size of title for online reputation management section */
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* styling rules for social media marketing section */
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* size of photo of group of people brainstorming which social platforms to use to show their services or product and how to market it for social media marketing section */
.social-media-marketing img {
    max-height: 200px;
}

/* size of title for social media marketing section */
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* styling rules that apply to Lead Generation, Brand Awareness and Cost Management sections */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* styling rules that apply to Lead Generation section specifically*/
.lead-generation {
    margin-bottom: 32px;
    color: #ffffff;
}

/* styling rules that apply to Lead Generation title */
.lead-generation h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*styling rules that apply to Lead Generation icon of a mechanical gear turning into a dollar sign */
.lead-generation img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* styling rules that apply to Brand Awareness section specifically */
.brand-awareness {
    margin-bottom: 32px;
    color: #ffffff;
}

/* styling rules that apply to Brand Awareness section title */
.brand-awareness h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* styling rules that apply to Brand Awareness section icon of a business man in a suit with a lightbulb for a head */ 
.brand-awareness img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* styling rules that apply to Cost Management section specifically */
.cost-management {
    margin-bottom: 32px;
    color: #ffffff;
}

/* styling rules that apply to Cost Management section title */
.cost-management h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* styling rules that apply to Cost Management section icon of a mechanical gear and dollar signs */
.cost-management img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* styling rules that apply to the footer section */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* styling rules that apply to the footer's title specifically */
.footer h2 {
    font-size: 20px;
}
